/* variables */
:root{
    --card_red: #ff0000;
    --card_green: rgb(13, 138, 13);
    --card_blue: rgb(12, 12, 204);
    --card_yellow: #d9ff00;
    --card_black: #000000;
}
/* -------- */
.match_grid{
    display: grid;
    grid-template-columns: 70% 1fr;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

/* player panel */
.playerPanel{
    width:100%;
    height:100%;
    
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

/* penalty list */
.penaltyList{
    border: 1px solid black;
    background-color: rgb(117, 129, 82);

    position: fixed;
    /*top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;*/
    box-shadow: #ff0000;
}

/* card */
.card{
    border: 1px solid white;
    background: #000000;
    user-select: none;
    width: 100px;
    height: 150px;
}

.card:hover {
    border: 1px solid black;
}

/*------------------------------------------*/

/*
.remove-btn{
    margin-right: .5rem;
}

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 0ms ease-in;
}

.fade-exit{
    opacity: 1;
    
}


.fade-exit-active{
    opacity: 0.01;
    transition: opacity 0ms ease-in;
}
*/