/* variables */
:root{
    --card_red: #ff0000;
    --card_green: rgb(13, 138, 13);
    --card_blue: rgb(12, 12, 204);
    --card_yellow: #d9ff00;
    --card_black: #000000;
}

/* player panel */
.playerPanel{
    width: 30rem;
    overflow: hidden;
}

/* card */
.card{
    border: 1px solid white;
    background: #000000;
    user-select: none;
    cursor: "grab";
    width: 100px;
    height: 150px;
}

.card:hover {
    border: 5px solid black;
}

/*------------------------------------------*/
.remove-btn{
    margin-right: .5rem;
}

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 0ms ease-in;
}

.fade-exit{
    opacity: 1;
    
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 0ms ease-in;
}