/* variables */
:root{
    --card_red: #940600;
    --card_green: #006B04;
    --card_blue: #263AB1;
    --card_yellow: #FFEE27;
    --card_black: #000000;
    --dialog_background: rgba(126, 126, 126, 1);

    --playedCardCount: 0;
    --handCardCount: 0;
    --cardOpacity: 1;
    --containerOffsetX: 0px;
    --containerOffsetY: 0px;
    --penaltyCardCount: 0; 
}


#root{
    width: 100%;
    height: 100%;
}

html, body{
    width: 100%;
    height: 100%;
}

.maximized{
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-left: var(--containerOffsetX);
    margin-top: var(--containerOffsetY);
  }

/* currently unused */
.emptyLeft{
    grid-area: etmptyLeft;
}
.emptyRight{
    grid-area: emptyRight;
}
/* end: currently unused */

/* MATCH GRID */
.match_grid{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* PLAYERS */
.playerPanel{
    margin: 0;
    padding: 0;
    border: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    justify-self: center;
}


/* PLAYED CARDS */
.center_grid{
    border: 1px dashed pink;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    
}

.playedCards{
    display: grid;
    grid-template-columns: repeat(var(--playedCardCount), 1fr);
    
    justify-items: center;
    align-items: center;
    height: auto;
}

/* HAND CARDS */
.handCards{
    display: grid;
    grid-template-columns: repeat(var(--handCardCount), 1fr);

    justify-items: center;
    align-items: center;
}

/* PENALTIES */
.penaltyList{
    border: 1px solid black;
    background-color: var(--dialog_background);
    text-align: center;

    /*width:50vmin;*/
}

.penaltyCards{
    display: grid;
    grid-template-columns: repeat(var(--penaltyCardCount), 1fr);
    justify-items: center;
    justify-self: center;
}

/* COLOR SELECTION */
.colorselector_grid{
    background-color: var(--dialog_background);
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    width: 50vmin;
    height: 50vmin;
    text-align: center;
}

/*-----------------------------------------*/
/* effect indicator left */
.effectIndicatorLeft{
    min-width: 10vmin;
    min-height: 100%;
   

    border: 3px dashed black;
    
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}

/* effect indicator right */
.effectIndicatorRight{
    min-width: 10vmin;
    min-height: 100%;
    
    border: 3px dashed black;

    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}
/*-----------------------------------------*/




.colorSelectorTitle{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.btn_select_color_red{
    background-color: var(--card_red);
}

.btn_select_color_green{
    background-color: var(--card_green);
}

.btn_select_color_blue{
    background-color: var(--card_blue);
}

.btn_select_color_yellow{
    background-color: var(--card_yellow);
}

.startscreen{
    text-align: center;
}

/* player */

.playerContainer{
    position: relative;
    float: left;
}

.overlayImage{
    position: absolute;
    z-index: 12;
}

.playerPortrait{
    z-index: 13;
}

.playerIconSmall{
    margin: 0px;
          
    /* asset size= 300px x 300px*/
    /*max-width: 300px; 
    max-height: 300px;*/
    width: 10vmin;
}

.playerIconSmallActive{
    margin: 0;
    
    /*max-width: 300px; 
    max-height: 300px;*/
    width: 19vmin;

}


.player_win{
    /*max-width: 300px; 
    max-height: 300px;*/
    width: 18vmin;
}

.player_lose{
    margin: 5px;
    
    /*max-width: 300px; 
    max-height: 300px;*/
    width: 8vmin;
}

/* card */
.card{
    opacity: var(--cardOpacity);
    overflow: hidden;
    position: relative;
    
    border: 3px solid black;
    margin:0;
    padding: 0;
    
    background:  var(--card_black);
    user-select: none;
    
    /*min-width: 30px;
    min-height: 30px;*/
    width: 10vmin;
    height: 10vmin;


    text-align: center;
}

.card:hover {
    border: 3px dashed black;
}